#banner-wrap > img {
	font-size: 45px;
	padding-top: 5%;
}

@media (max-width:1366px) and (max-height: 1024px) {
	#banner-wrap > img {
		padding-top: 15%;
	}

	#impact-phrase .folha {
		width: 300px;
	}
}